{% extends 'blog/base.html' %}
{% load staticfiles %}
	{% block content %}
		<div class="aims">
			
			<div class="img">
				<div class="desc">Спорт</div>
			  	<a target="_blank" href="img_forest.jpg">
			    	<img src="{% static 'img/sport.png' %}" alt="Forest" width="600" height="400">
			  	</a>
			</div>
			<div class="progress">
				<div class="w3-progress-container">
  					<div id="myBar" class="w3-progressbar w3-green" style="width:20%">
  					</div>
				</div>

				<p id="demo">20%</p>

				<button class="w3-btn w3-dark-grey" onclick="move()">Завершить</button> 
				<script>
					function move() {
					  	var elem = document.getElementById("myBar");   
					  	var width = 20;
					  	var id = setInterval(frame, 10);
					  	function frame() {
					    	if (width >= 100) {
					      		clearInterval(id);
					    	} else {
					      		width++; 
					      		elem.style.width = width + '%'; 
					      		document.getElementById("demo").innerHTML = width * 1  + '%';
					    	}
					  	}
					}
				</script>
			</div>
		</div>
	{% endblock %}
